openapi: 3.1.0
info:
  title: Stark Bank Balance Split Receiver API
  version: v2
  description: 'This is our second API version. It is another small step towards launching the product we want to create for you, but it''s a giant leap for the brazilian financial market. We created the first banking API in Brazil and we are proud of it.

    Our API is RESTFul. This means we use predictable, resource-oriented URLs to do banking operations. The API itself speaks exclusively in JSON, including errors, but our SDK libraries convert responses to appropriate language-specific objects.

    Want to check our OpenAPI 3.1 specification? You can download our yaml file right here.

    You can also try our Postman collection. Download it here.

    '
  contact:
    name: Stark Bank Developers
    email: help@starkbank.com
    url: https://starkbank.com
  license:
    name: Stark Bank License
servers:
- url: https://api.starkbank.com
  description: Production
- url: https://sandbox.api.starkbank.com
  description: Sandbox
security:
- digitalSignature: []
tags:
- name: Split Receiver
  description: You can create a Receiver to an Invoice or Boleto split by using the Split Receiver resource.
paths:
  /v2/split-receiver:
    post:
      summary: Create Split Receiver
      operationId: create-splitReceiver
      tags:
      - Split Receiver
      description: Send a list of Split Receiver objects for creation in the Stark Bank API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountNumber:
                  type: string
                  description: 'receiver bank account number. Use ''-'' before the verifier digit. ex: ''876543-2'''
                accountType:
                  type: string
                  description: 'Receiver bank account type. This parameter only has effect on Pix SplitReceivers. ex: ''checking'', ''savings'', ''salary'' or ''payment'''
                bankCode:
                  type: string
                  description: 'Code of the receiver bank institution in Brazil. If an ISPB (8 digits) is informed, a PIX splitReceiver will be created, else a Ted will be issued. ex: ''20018183'' or ''341'''
                branchCode:
                  type: string
                  description: 'Receiver bank account branch. Use ''-'' in case there is a verifier digit. ex: ''1357-9'''
                name:
                  type: string
                  description: 'Receiver full name. ex: ''Anthony Edward Stark'''
                taxId:
                  type: string
                  description: 'Receiver account tax ID (CPF or CNPJ) with or without formatting. ex: ''01234567890'' or ''20.018.183/0001-80'''
                tags:
                  type: array
                  items:
                    type: string
                  description: 'list of strings for reference when searching for receivers. ex: [''seller/123456'']'
              required:
              - accountNumber
              - accountType
              - bankCode
              - branchCode
              - name
              - taxId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      summary: List Split Receivers
      operationId: list-splitReceiver
      tags:
      - Split Receiver
      description: Get a list of Split Receivers in chunks of at most 100. If you need smaller chunks, use the limit parameter.
      parameters:
      - name: after
        in: query
        description: Filter entities created after this date.
        required: false
        schema:
          type: string
          format: date
      - name: before
        in: query
        description: Filter entities created before this date.
        required: false
        schema:
          type: string
          format: date
      - name: cursor
        in: query
        description: String used to get the next batch of results. Our SDKs handle this for you.
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: List of strings to filter response JSON keys. Not available in the SDKs.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: ids
        in: query
        description: List of strings to get specific entities by ids.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Number of results per cursor. Max = 100.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: receiverIds
        in: query
        description: 'List of receiver ids to filter retrieved objects. ex: [''5656565656565656'', ''4545454545454545''].'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        description: Filter split receivers by the specified status.
        required: false
        schema:
          type: string
      - name: tags
        in: query
        description: Filter entities that contain the specified tags.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: taxId
        in: query
        description: 'filter for splitReceivers sent to the specified tax ID. ex: ''012.345.678-90'''
        required: false
        schema:
          type: string
      - name: transactionIds
        in: query
        description: 'List of transaction IDs linked to the desired splitReceivers. ex: [''5656565656565656'', ''4545454545454545'']'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/split-receiver/{id}:
    get:
      summary: Get a Split Receiver
      operationId: get-splitReceiver-byId
      tags:
      - Split Receiver
      description: Retrieve a single Split Receiver object previously created in the Stark Bank API by its id.
      parameters:
      - name: id
        in: path
        description: Id of the Split Receiver entity
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: List of strings to filter response JSON keys. Not available in the SDKs.
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/split-receiver/log:
    get:
      summary: List Split Receiver Logs
      operationId: list-splitReceiver-log
      tags:
      - Split Receiver
      description: Get a paged list of Split Receiver logs. A log tracks a change in the Split Receiver entity according to its life cycle.
      parameters:
      - name: after
        in: query
        description: Filter entities created after this date.
        required: false
        schema:
          type: string
          format: date
      - name: before
        in: query
        description: Filter entities created before this date.
        required: false
        schema:
          type: string
          format: date
      - name: cursor
        in: query
        description: String used to get the next batch of results. Our SDKs handle this for you.
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: List of strings to filter response JSON keys. Not available in the SDKs.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Number of results per cursor. Max = 100.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: receiverIds
        in: query
        description: 'List of Split Receiver ids to filter retrieved objects. ex: [''5656565656565656'', ''4545454545454545''].'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: types
        in: query
        description: 'filter retrieved objects by event types. ex: ''processing'' or ''success'''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/split-receiver/log/{id}:
    get:
      summary: Get a Split Receiver Log
      operationId: get-splitReceiver-log-byId
      tags:
      - Split Receiver
      description: Get a single Split Receiver Log by its id.
      parameters:
      - name: id
        in: path
        description: Id of the log entity.
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: List of strings to filter response JSON keys. Not available in the SDKs.
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        code:
          type: string
          description: Error code string
        message:
          type: string
          description: Human-readable error message
  securitySchemes:
    digitalSignature:
      type: apiKey
      name: Digital-Signature
      in: header
      description: ECDSA digital signature for request authentication
externalDocs:
  url: https://docs.starkbank.com/api
  description: Stark Bank API documentation
x-tagGroups:
- name: Business Account
  tags:
  - Workspace
  - Balance
  - Transaction
- name: Cash Receivables
  tags:
  - Invoice
  - Dynamic Brcode
  - Deposit
  - Boleto
  - Boleto Holmes
  - Split
  - Split Receiver
  - Split Profile
- name: Cash Subscription
  tags:
  - Invoice Pull Subscription
  - Invoice Pull Request
- name: Card Receivables
  tags:
  - Merchant Session
  - Merchant Purchase
  - Merchant Card
  - Merchant Installment
- name: Bill Payments
  tags:
  - Transfer
  - Brcode Payment
  - Boleto Payment
  - Utility Payment
  - Tax Payment
  - Darf Payment
  - Payment Preview
  - Payment Request
- name: Others
  tags:
  - Webhook
  - Event
  - Event Attempt
  - Pix Key
  - Institutions
  - Public Key
