openapi: 3.1.0
info:
  title: Stark Bank API
  version: v2
  description: |
    This is our second API version. It is another small step towards launching the product we want to create for you, but it's a giant leap for the brazilian financial market. We created the first banking API in Brazil and we are proud of it.
    Our API is RESTFul. This means we use predictable, resource-oriented URLs to do banking operations. The API itself speaks exclusively in JSON, including errors, but our SDK libraries convert responses to appropriate language-specific objects.
    Want to check our OpenAPI 3.1 specification? You can download our yaml file right here.
    You can also try our Postman collection. Download it here.
  contact:
    name: Stark Bank Developers
    email: 'help@starkbank.com'
    url: https://starkbank.com
  license:
    name: Stark Bank License
externalDocs:
  url: https://docs.starkbank.com/api
  description: Stark Bank API documentation
servers:
  - url: https://api.starkbank.com
    description: Production
  - url: https://sandbox.api.starkbank.com
    description: Sandbox
paths:
  /v2/workspace:
    post:
      summary: Create a Workspace
      operationId: create-workspace
      tags:
        - Workspace
      description: |
        Here you can create a brand new Workspace.
        Note: Only Organization credentials are able to create Workspaces.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'This string will show up to identify your Workspace when you log into it at our Web Banking. Example: ''My Workspace'''
                username:
                  type: string
                  description: 'This string uniquely identifies the Workspace in our entire database. It is also part of the Workspace Web Banking URL and must, therefore, be URL-safe. For example, if a Workspace in Sandbox has the ''my-workspace'' username, its URL would be "https://my-workspace.sandbox.starkbank.com"'
                allowedTaxIds:
                  type: array
                  items:
                    type: string
                  description: |
                    List of tax IDs that will be allowed to send Deposits to this Workspace. If empty, all are allowed. Example:
                    ["012.345.678-90", "20.018.183/0001-80"]
              required:
                - name
                - username
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      summary: List Workspaces
      operationId: list-workspace
      tags:
        - Workspace
      description: 'Get a list of Workspaces your credentials have access to in chunks of at most 100. If you need smaller chunks, use the limit parameter.'
      parameters:
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: ids
          in: query
          description: List of IDs of the Workspaces to be retrieved.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: username
          in: query
          description: Workspace username to be searched.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/workspace/{id}':
    get:
      summary: Get a Workspace
      operationId: get-workspace-byId
      tags:
        - Workspace
      description: Get a single workspace by its id.
      parameters:
        - name: id
          in: path
          description: Id of the workspace entity.
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    patch:
      summary: Update a Workspace
      operationId: update-workspace-byId
      tags:
        - Workspace
      description: Update a workspace by passing its id and the fields you want to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                allowedTaxIds:
                  type: array
                  items:
                    type: string
                  description: |
                    List of tax IDs that will be allowed to send Deposits to this Workspace. If empty, all are allowed. Example:
                    ["012.345.678-90", "20.018.183/0001-80"]
                name:
                  type: string
                  description: 'Full name that identifies the Workspace. This name will appear when people access the Workspace on our platform, for example. Example: ''Stark Bank Workspace'''
                picture:
                  type: string
                  description: 'Binary buffer of the picture. Example: open("path/to/picture.png", "rb").read()'
                pictureType:
                  type: string
                  description: 'Picture mime type. This parameter will be required if the picture parameter is informed. Example: ''image/png'' or ''image/jpeg'''
                status:
                  type: string
                  description: 'You can block or activate a specific Workspace. Example: ''active'' or ''blocked'''
                username:
                  type: string
                  description: 'Simplified name to define the workspace URL. This name must be unique across all Stark Bank Workspaces. Example: ''starkbank-workspace'''
              required:
                - pictureType
      parameters:
        - name: id
          in: path
          description: Id of the workspace.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/balance:
    get:
      summary: Get the Balance
      operationId: list-balance
      tags:
        - Balance
      description: Get the current balance in your workspace.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/transaction:
    get:
      summary: List Transactions
      operationId: list-transaction
      tags:
        - Transaction
      description: |
        Your bank statement is the list of all transactions registered in your private ledger.
        We return it paged.
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: externalIds
          in: query
          description: Filter transactions that carry the specified external IDs.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: ids
          in: query
          description: List of strings to get specific entities by ids.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: tags
          in: query
          description: Filter entities that contain the specified tags.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/transaction/{id}':
    get:
      summary: Get a Transaction
      operationId: get-transaction-byId
      tags:
        - Transaction
      description: Get a single transaction by its id.
      parameters:
        - name: id
          in: path
          description: Id of the transaction entity.
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/invoice:
    post:
      summary: Create Invoices
      operationId: create-invoice
      tags:
        - Invoice
      description: |
        Use this route to create up to 100 new invoices at a time.
        NOTE:If you create an invoice with amount zero, we will accept any amount paid by your customer. Otherwise we will only accept the amount specified in the invoice.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: 'A non-negative integer that represents the amount in cents to be invoiced. When the invoice is paid, this parameter is updated with the amount actually paid. Example: 100 (R$1.00)'
                name:
                  type: string
                  description: 'Payer full name. Example: "Anthony Edward Stark"'
                taxId:
                  type: string
                  description: 'Payer CPF (11 digits formatted or unformatted) or CNPJ (14 digits formatted or unformatted). Example: 012.345.678-90'
                descriptions:
                  type: array
                  items:
                    type: object
                  description: |
                    List of up to 15 descriptions containing information to help the customer understand why he is being charged. For each description, you can add a title key and a description value. Example:
                    [{"key": "Product A", "value": "R$10,00"}, {"key": "Taxes", "value": "R$100,00"}]
                discounts:
                  type: array
                  items:
                    type: object
                  description: |
                    List of up to 5 discounts specifying the discount percentage and the limit date up to when the discount is valid. Example:
                    [{"percentage": 5, "due": "2020-11-25T17:59:26.000000+00:00"}, {"percentage": 10.5, "due": "2020-10-25T17:59:26.000000+00:00"}]
                due:
                  type: string
                  format: date-time
                  description: 'Requested payment due datetime in ISO format. Example: "2020-11-25T17:59:26.000000+00:00". Default value: 2 days after creation.'
                expiration:
                  type: integer
                  description: 'Time in seconds counted from the due datetime until the invoice expires. After expiration, the invoice cannot be paid anymore. Default value: 5097600 (59 days)'
                fine:
                  type: number
                  format: float
                  description: 'Percentage of the invoice amount charged if customer pays after the due datetime. Default value = 2.00 (2%)'
                interest:
                  type: number
                  format: float
                  description: 'Monthly interest, in percentage, charged if customer pays after the due datetime. Default value = 1.00 (1%)'
                rules:
                  type: array
                  items:
                    type: string
                  description: |
                    List of rules for modifying invoice behavior. Example:
                    [{"key": "allowedTaxIds", "value": ["012.345.678-90", "45.059.493/0001-73"]}]
                splits:
                  type: array
                  items:
                    type: object
                  description: |
                    Array of Split objects to indicate payment receivers. Example:
                    [{"receiverId": "5742447426535424", "amount": 100}, {"receiverId": "5743243941642240", "amount": 200}]
                tags:
                  type: array
                  items:
                    type: string
                  description: Array of strings to tag the entity for future queries. All tags will be converted to lowercase.
              required:
                - amount
                - name
                - taxId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      summary: List Invoices
      operationId: list-invoice
      tags:
        - Invoice
      description: 'Get a list of invoices in chunks of at most 100. If you need smaller chunks, use the limit parameter.'
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: ids
          in: query
          description: List of strings to get specific entities by ids.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: Filter invoices by the specified status.
          required: false
          schema:
            type: string
        - name: tags
          in: query
          description: Filter entities that contain the specified tags.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: transactionIds
          in: query
          description: List of transaction IDs linked to the desired invoices.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/invoice/{id}':
    get:
      summary: Get an Invoice
      operationId: get-invoice-byId
      tags:
        - Invoice
      description: Get a single invoice by its id.
      parameters:
        - name: id
          in: path
          description: Id of the invoice entity
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    patch:
      summary: Update an Invoice
      operationId: update-invoice-byId
      tags:
        - Invoice
      description: 'Update a single invoice. If the invoice has not yet been paid, you can adjust parameters such as the requested amount, the due datetime and the expiration. If the invoice has already been paid, only the amount can be decreased, which will result in a payment reversal.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: 'New amount that should be charged on payment. If the invoice has already been paid, it is the final amount after reversal. Example: 200 (R$2.00).'
                due:
                  type: string
                  format: date-time
                  description: 'New due datetime. Example: ''2020-11-26T17:59:26.000000+00:00''.'
                expiration:
                  type: integer
                  description: 'New expiration. Example: 3600 (1 hour).'
                status:
                  type: string
                  description: 'This can be used to cancel the invoice by passing ''canceled'' as the status patch.'
      parameters:
        - name: id
          in: path
          description: Id of the invoice entity.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/invoice/{id}/qrcode':
    get:
      summary: Get an Invoice QR Code
      operationId: get-invoice-byId-qrcode
      tags:
        - Invoice
      description: 'Get the invoice QR Code png file. Similarly to the Boleto PDF, we create a QR Code image file with the invoice data so that your customer can pay it through Pix.'
      parameters:
        - name: id
          in: path
          description: Id of the invoice entity.
          required: true
          schema:
            type: string
        - name: size
          in: query
          description: 'Number of pixels in each ''box'' of the QR code. Minimum = 1 and maximum = 50. Default value = 7.'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/invoice/{id}/pdf':
    get:
      summary: Get an Invoice PDF
      operationId: get-invoice-byId-pdf
      tags:
        - Invoice
      description: 'Get the invoice PDF file. Similarly to the Boleto PDF, we create a PDF file with the invoice data and the QR Code so that your customer can pay it through Pix. The same PDF can also be accessed by the public "pdf" parameter returned in the Invoice JSON. This link is the one you should send to your customers.'
      parameters:
        - name: id
          in: path
          description: Id of the invoice entity.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/invoice/log:
    get:
      summary: List Invoice Logs
      operationId: list-invoice-log
      tags:
        - Invoice
      description: Get a paged list of invoice logs. A log tracks a change in the invoice entity according to its life cycle.
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: invoiceIds
          in: query
          description: Array of invoice ids that are linked to the logs you desire.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: types
          in: query
          description: Filters logs by log types.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/invoice/log/{id}':
    get:
      summary: Get an Invoice Log
      operationId: get-invoice-log-byId
      tags:
        - Invoice
      description: Get a single invoice Log by its id.
      parameters:
        - name: id
          in: path
          description: Id of the log entity.
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/invoice/log/{id}/pdf':
    get:
      summary: Get a reversed Invoice Log PDF
      operationId: get-invoice-log-byId-pdf
      tags:
        - Invoice
      description: 'Whenever an Invoice is successfully reversed, a reversed log will be created. To retrieve a specific reversal receipt, you can request the corresponding log PDF.'
      parameters:
        - name: id
          in: path
          description: Id of the log invoice entity.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/invoice/{id}/payment':
    get:
      summary: Get an Invoice Payment information
      operationId: get-invoice-byId-payment
      tags:
        - Invoice
      description: 'Once an invoice has been paid, you can get the payment information using the Invoice. Payment sub-resource.'
      parameters:
        - name: id
          in: path
          description: Id of the invoice entity.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/dynamic-brcode:
    post:
      summary: Create Dynamic Brcodes
      operationId: create-dynamicBrcode
      tags:
        - Dynamic Brcode
      description: Use this route to create up to 100 new dynamic brcodes at a time.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: 'A non-negative integer that represents the amount in cents to be received. Example: 100 (R$1.00).'
                displayDescription:
                  type: string
                  description: 'Description to be shown in the payer bank interface. ex: "Payment for service #1234"'
                expiration:
                  type: integer
                  description: 'Time in seconds counted from the creation datetime until the brcode expires. After expiration, the brcode cannot be paid anymore. Default value: 3600 (1 hour).'
                rules:
                  type: array
                  items:
                    type: string
                  description: |
                    List of rules for modifying dynamic brcode behavior. Example:
                    [{"key": "allowedTaxIds", "value": ["012.345.678-90", "45.059.493/0001-73"]}]
                tags:
                  type: array
                  items:
                    type: string
                  description: Array of strings to tag the entity for future queries. All tags will be converted to lowercase.
              required:
                - amount
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      summary: List Dynamic Brcodes
      operationId: list-dynamicBrcode
      tags:
        - Dynamic Brcode
      description: 'Get a list of brcodes in chunks of at most 100. If you need smaller chunks, use the limit parameter.'
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: tags
          in: query
          description: Filter entities that contain the specified tags.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: uuids
          in: query
          description: list of uuids to filter retrieved objects.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/dynamic-brcode/{uuid}':
    get:
      summary: Get a Dynamic Brcode
      operationId: get-dynamicBrcode-byUuid
      tags:
        - Dynamic Brcode
      description: Get a single dynamic brcode by its uuid.
      parameters:
        - name: uuid
          in: path
          description: Uuid of the brcode entity.
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/deposit:
    get:
      summary: List Deposits
      operationId: list-deposit
      tags:
        - Deposit
      description: Here you can list and filter all deposits you have received. We return it paged.
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: ids
          in: query
          description: List of strings to get specific entities by ids.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: sort
          in: query
          description: 'Sort order considered in the response. Options are: "created", "-created".'
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter deposits by the specified status.
          required: false
          schema:
            type: string
        - name: tags
          in: query
          description: Filter entities that contain the specified tags.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/deposit/{id}':
    get:
      summary: Get a Deposit
      operationId: get-deposit-byId
      tags:
        - Deposit
      description: Get a single Deposit by its id.
      parameters:
        - name: id
          in: path
          description: 'Id of the deposit. Example: ''5656565656565656''.'
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    patch:
      summary: Update a Deposit
      operationId: update-deposit-byId
      tags:
        - Deposit
      description: Update the Deposit by passing its id to be partially or fully reversed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: The new amount of the Deposit. If the amount = 0 the Deposit will be fully reversed
              required:
                - amount
      parameters:
        - name: id
          in: path
          description: 'Id of the deposit. Example: ''5155165527080960''.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/deposit/log:
    get:
      summary: List Deposit Logs
      operationId: list-deposit-log
      tags:
        - Deposit
      description: Get a paged list of all deposit logs. A log tracks a change in the deposit entity according to its life cycle.
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: depositIds
          in: query
          description: Array of deposit ids that are linked to the logs you desire.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: types
          in: query
          description: Filters logs by log types.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/deposit/log/{id}':
    get:
      summary: Get a Deposit Log
      operationId: get-deposit-log-byId
      tags:
        - Deposit
      description: Get a single deposit log by its id.
      parameters:
        - name: id
          in: path
          description: Id of the log entity
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/deposit/log/{id}/pdf':
    get:
      summary: Get a reversed Deposit Log PDF
      operationId: get-deposit-log-byId-pdf
      tags:
        - Deposit
      description: 'Whenever a Deposit is successfully reversed, a reversed log will be created. To retrieve a specific reversal receipt, you can request the corresponding log PDF.'
      parameters:
        - name: id
          in: path
          description: Id of the log Deposit entity.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/boleto:
    post:
      summary: Create Boletos
      operationId: create-boleto
      tags:
        - Boleto
      description: 'This is how you create a new list of boletos. You can create up to 100 boletos per request. In case a boleto is paid after its due date and there is fine or interest, its amount will be updated with the paid amount. The same is valid if the boleto is paid with a discount.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: 'A positive integer that represents the amount in cents to be charged. Example: 100 (R$1.00).'
                city:
                  type: string
                  description: 'Customer city name. Example: "São Paulo".'
                district:
                  type: string
                  description: 'Customer district name. Example: "Itaim Bibi".'
                name:
                  type: string
                  description: 'Customer full name. Example: "Anthony Edward Stark".'
                stateCode:
                  type: string
                  description: 'Customer state code. Example: "SP".'
                streetLine1:
                  type: string
                  description: 'Customer street address. Example: "Av. Faria Lima, 1844".'
                streetLine2:
                  type: string
                  description: 'Customer street address complement. Example: "CJ 13".'
                taxId:
                  type: string
                  description: 'Customer CPF (11 digits formatted or unformatted) or CNPJ (14 digits formatted or unformatted). Example: 012.345.678-90.'
                zipCode:
                  type: string
                  description: 'Customer zip code. Example: 01500-000.'
                descriptions:
                  type: array
                  items:
                    type: object
                  description: |
                    List of up to 15 descriptions containing information to help the customer understand why he is being charged. You can add text and amount to create a table or you can just add text. When generating PDFs, if the 'booklet' layout is selected, only the text field of the first description will be considered and it will be used to fill the installment cell in the PDF. Example:
                    [{"text": "Explaining first part of the value", "amount": 20000}, {"text": "More text to explaining something to the customer"}]
                discounts:
                  type: array
                  items:
                    type: object
                  description: |
                    List of up to 2 discounts specifying the discount percentage and the limit date up to when the discount is valid. Example:
                    [{"percentage": 5, "date": "2020-04-01"}, {"percentage": 3.5, "date": "2020-04-02"}]
                due:
                  type: string
                  format: date-time
                  description: 'Due date of the boleto. Example: 2020-06-27. The default value is set to two days after creation date.'
                fine:
                  type: number
                  format: float
                  description: 'Percentage of the boleto amount charged if customer pays after the due date. Default value = 2.00 (2%).'
                interest:
                  type: number
                  format: float
                  description: 'Monthly interest, in percentage, charged if customer pays after the due date. Default value = 1.00 (1%).'
                overdueLimit:
                  type: string
                  description: Number of days after due date after which the boleto will no longer be payable. 0<=overdueLimit<=59. Default value=59.
                receiverName:
                  type: string
                  description: 'Name of the credit receiver (Sacador Avalista). If none is informed, workspace owner name will be used. If informed, receiverTaxId must also be informed.'
                receiverTaxId:
                  type: string
                  description: 'Tax ID (CPF/CNPJ) of the credit receiver (Sacador Avalista). If none is informed, workspace owner tax ID will be used. If informed, receiverName must also be informed.'
                splits:
                  type: array
                  items:
                    type: object
                  description: |
                    Array of Split objects to indicate payment receivers. Example:
                    [{"receiverId": "5742447426535424", "amount": 100}, {"receiverId": "5743243941642240", "amount": 200}]
                tags:
                  type: array
                  items:
                    type: string
                  description: Filter entities that contain the specified tags.
              required:
                - amount
                - city
                - district
                - name
                - stateCode
                - streetLine1
                - streetLine2
                - taxId
                - zipCode
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      summary: List Boletos
      operationId: list-boleto
      tags:
        - Boleto
      description: 'Get a list of non-deleted boletos in chunks of at most 100. If you need smaller chunks, use the limit parameter.'
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: ids
          in: query
          description: List of strings to get specific entities by ids.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: Filter boletos by the specified status.
          required: false
          schema:
            type: string
        - name: tags
          in: query
          description: Filter entities that contain the specified tags.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/boleto/{id}':
    get:
      summary: Get a Boleto
      operationId: get-boleto-byId
      tags:
        - Boleto
      description: Get a single boleto by its id.
      parameters:
        - name: id
          in: path
          description: Id of the boleto entity.
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    delete:
      summary: Delete a Boleto
      operationId: delete-boleto-byId
      tags:
        - Boleto
      description: |
        Delete a single boleto. We will send a request to CIP to cancel the boleto registration. After the boleto registration is canceled, it won't be possible to pay it anymore.
        NOTE: This action cannot be undone.
      parameters:
        - name: id
          in: path
          description: Id of the boleto entity.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/boleto/{id}/pdf':
    get:
      summary: Get a Boleto PDF
      operationId: get-boleto-byId-pdf
      tags:
        - Boleto
      description: 'Get a downloadable boleto PDF file. This route is public and does not require the usual authentication headers. However, if you request an invalid boleto ID too many times, your IP will be blocked for this specific route.'
      parameters:
        - name: id
          in: path
          description: Id of the boleto entity
          required: true
          schema:
            type: string
        - name: hiddenFields
          in: query
          description: 'List of fields to be hidden in Boleto pdf. Example: ["customerAddress"].'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: layout
          in: query
          description: 'PDF layout. Available options are "default" (full page) and "booklet" ("carnê").'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/boleto/log:
    get:
      summary: List Boleto logs
      operationId: list-boleto-log
      tags:
        - Boleto
      description: Get a paged list of boleto logs. A log tracks a change in the boleto entity according to its life cycle.
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: boletoIds
          in: query
          description: Array of boleto ids that are linked to the logs you desire.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: types
          in: query
          description: Filters logs by log types.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/boleto/log/{id}':
    get:
      summary: Get a Boleto Log
      operationId: get-boleto-log-byId
      tags:
        - Boleto
      description: Get a single boleto log by its id.
      parameters:
        - name: id
          in: path
          description: Id of the log entity
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/boleto-holmes:
    post:
      summary: Create Boleto Holmes
      operationId: create-boletoHolmes
      tags:
        - Boleto Holmes
      description: Use this route to verify the updated status of boletos generated at Stark Bank according to CIP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                boletoId:
                  type: string
                  description: 'Investigated boleto entity ID. ex: ''5656565656565656'''
                tags:
                  type: array
                  items:
                    type: string
                  description: Array of strings to tag the entity for future queries. All tags will be converted to lowercase.
              required:
                - boletoId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      summary: List Boleto Holmes
      operationId: list-boletoHolmes
      tags:
        - Boleto Holmes
      description: 'Get a list of non-deleted boletos in chunks of at most 100. If you need smaller chunks, use the limit parameter.'
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: boletoId
          in: query
          description: String to get boletos holmes that refer to a specific boleto ID.
          required: false
          schema:
            type: string
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: ids
          in: query
          description: 'List of ids to filter retrieved objects. ex: [''5656565656565656'', ''4545454545454545'']'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: Filter holmes by the specified status.
          required: false
          schema:
            type: string
        - name: tags
          in: query
          description: Filter entities that contain the specified tags.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/boleto-holmes/{id}':
    get:
      summary: Get a Boleto Holmes
      operationId: get-boletoHolmes-byId
      tags:
        - Boleto Holmes
      description: Get a single boleto holmes by its id.
      parameters:
        - name: id
          in: path
          description: Id of the boleto holmes entity.
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/boleto-holmes/log:
    get:
      summary: List Boleto Holmes Logs
      operationId: list-boletoHolmes-log
      tags:
        - Boleto Holmes
      description: Get a paged list of all boleto holmes logs. A log tracks a change in the holmes entity according to its life cycle.
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: holmesIds
          in: query
          description: Filter logs by Holmes IDs
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: types
          in: query
          description: Filters logs by log types.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/boleto-holmes/log/{id}':
    get:
      summary: Get a Boleto Holmes Log
      operationId: get-boletoHolmes-log-byId
      tags:
        - Boleto Holmes
      description: Get a single boleto holmes log by its id.
      parameters:
        - name: id
          in: path
          description: Id of the log entity
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/split:
    get:
      summary: List Splits
      operationId: list-split
      tags:
        - Split
      description: 'Get a list of Splits in chunks of at most 100. If you need smaller chunks, use the limit parameter.'
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: ids
          in: query
          description: List of strings to get specific entities by ids.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: receiverIds
          in: query
          description: 'list of receiver ids to filter retrieved objects. ex: [''5656565656565656'', ''4545454545454545''].'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filter splits by the specified status.
          required: false
          schema:
            type: string
        - name: tags
          in: query
          description: Filter entities that contain the specified tags.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/split/{id}':
    get:
      summary: Get a Split
      operationId: get-split-byId
      tags:
        - Split
      description: Get a single Split by its id.
      parameters:
        - name: id
          in: path
          description: Id of the Split entity
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/split/log:
    get:
      summary: List Split Logs
      operationId: list-split-log
      tags:
        - Split
      description: Get a paged list of Split logs. A log tracks a change in the Split entity according to its life cycle.
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: splitIds
          in: query
          description: Array of Split ids that are linked to the logs you desire.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: types
          in: query
          description: Filters logs by log types.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/split/log/{id}':
    get:
      summary: Get a Split Log
      operationId: get-split-log-byId
      tags:
        - Split
      description: Get a single Split Log by its id.
      parameters:
        - name: id
          in: path
          description: Id of the log entity.
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/split-receiver:
    post:
      summary: Create Split Receiver
      operationId: create-splitReceiver
      tags:
        - Split Receiver
      description: Send a list of Split Receiver objects for creation in the Stark Bank API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountNumber:
                  type: string
                  description: 'receiver bank account number. Use ''-'' before the verifier digit. ex: ''876543-2'''
                accountType:
                  type: string
                  description: 'Receiver bank account type. This parameter only has effect on Pix SplitReceivers. ex: ''checking'', ''savings'', ''salary'' or ''payment'''
                bankCode:
                  type: string
                  description: 'Code of the receiver bank institution in Brazil. If an ISPB (8 digits) is informed, a PIX splitReceiver will be created, else a Ted will be issued. ex: ''20018183'' or ''341'''
                branchCode:
                  type: string
                  description: 'Receiver bank account branch. Use ''-'' in case there is a verifier digit. ex: ''1357-9'''
                name:
                  type: string
                  description: 'Receiver full name. ex: ''Anthony Edward Stark'''
                taxId:
                  type: string
                  description: 'Receiver account tax ID (CPF or CNPJ) with or without formatting. ex: ''01234567890'' or ''20.018.183/0001-80'''
                tags:
                  type: array
                  items:
                    type: string
                  description: 'list of strings for reference when searching for receivers. ex: [''seller/123456'']'
              required:
                - accountNumber
                - accountType
                - bankCode
                - branchCode
                - name
                - taxId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      summary: List Split Receivers
      operationId: list-splitReceiver
      tags:
        - Split Receiver
      description: 'Get a list of Split Receivers in chunks of at most 100. If you need smaller chunks, use the limit parameter.'
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: ids
          in: query
          description: List of strings to get specific entities by ids.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: receiverIds
          in: query
          description: 'List of receiver ids to filter retrieved objects. ex: [''5656565656565656'', ''4545454545454545''].'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filter split receivers by the specified status.
          required: false
          schema:
            type: string
        - name: tags
          in: query
          description: Filter entities that contain the specified tags.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: taxId
          in: query
          description: 'filter for splitReceivers sent to the specified tax ID. ex: ''012.345.678-90'''
          required: false
          schema:
            type: string
        - name: transactionIds
          in: query
          description: 'List of transaction IDs linked to the desired splitReceivers. ex: [''5656565656565656'', ''4545454545454545'']'
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/split-receiver/{id}':
    get:
      summary: Get a Split Receiver
      operationId: get-splitReceiver-byId
      tags:
        - Split Receiver
      description: Retrieve a single Split Receiver object previously created in the Stark Bank API by its id.
      parameters:
        - name: id
          in: path
          description: Id of the Split Receiver entity
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/split-receiver/log:
    get:
      summary: List Split Receiver Logs
      operationId: list-splitReceiver-log
      tags:
        - Split Receiver
      description: Get a paged list of Split Receiver logs. A log tracks a change in the Split Receiver entity according to its life cycle.
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: receiverIds
          in: query
          description: 'List of Split Receiver ids to filter retrieved objects. ex: [''5656565656565656'', ''4545454545454545''].'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: types
          in: query
          description: 'filter retrieved objects by event types. ex: ''processing'' or ''success'''
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/split-receiver/log/{id}':
    get:
      summary: Get a Split Receiver Log
      operationId: get-splitReceiver-log-byId
      tags:
        - Split Receiver
      description: Get a single Split Receiver Log by its id.
      parameters:
        - name: id
          in: path
          description: Id of the log entity.
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/split-profile:
    put:
      summary: Put a Split Profile
      operationId: put-splitProfile
      tags:
        - Split Profile
      description: 'Send a list containing a single Split Profile object. If the object has already been created, its rules will be updated.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                delay:
                  type: integer
                  description: How long the amount will stay at the workspace in milliseconds
                interval:
                  type: string
                  description: 'Frequency of transfer, default "week". Options: "day", "week", "month"'
                tags:
                  type: array
                  items:
                    type: string
                  description: 'List of strings for reference when searching for profiles. ex: ["test profile"]'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    get:
      summary: List Split Profiles
      operationId: list-splitProfile
      tags:
        - Split Profile
      description: 'Get a list of Split Profiles in chunks of up to 100. If you need smaller chunks, use the limit parameter.'
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: ids
          in: query
          description: List of strings to get specific entities by ids.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: Filter split profiles by the specified status.
          required: false
          schema:
            type: string
        - name: tags
          in: query
          description: Filter entities that contain the specified tags.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/split-profile/{id}':
    get:
      summary: Get a Split Profile
      operationId: get-splitProfile-byId
      tags:
        - Split Profile
      description: 'Retrieve a single Split Profile object by its ID, which was previously created.'
      parameters:
        - name: id
          in: path
          description: Id of the Split Profile entity
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/split-profile/log:
    get:
      summary: List Split Profile Logs
      operationId: list-splitProfile-log
      tags:
        - Split Profile
      description: Get a paged list of Split Profile logs. A log tracks a change in the Split Profile entity according to its life cycle.
      parameters:
        - name: after
          in: query
          description: Filter entities created after this date.
          required: false
          schema:
            type: string
            format: date
        - name: before
          in: query
          description: Filter entities created before this date.
          required: false
          schema:
            type: string
            format: date
        - name: cursor
          in: query
          description: String used to get the next batch of results. Our SDKs handle this for you.
          required: false
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Number of results per cursor. Max = 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: profileIds
          in: query
          description: 'List of Split Profile ids to filter retrieved objects. ex: [''5656565656565656'', ''4545454545454545''].'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: types
          in: query
          description: 'filter retrieved objects by event types. ex: ''processing'' or ''success'''
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  '/v2/split-profile/log/{id}':
    get:
      summary: Get a Split Profile Log
      operationId: get-splitProfile-log-byId
      tags:
        - Split Profile
      description: Get a single Split Profile Log by its id.
      parameters:
        - name: id
          in: path
          description: Id of the log entity.
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of strings to filter response JSON keys. Not available in the SDKs.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /v2/invoice-pull-subscription:
    post:
      summary: Create Invoice Pull Subscriptions
      operationId: create-invoicePullSubscription
      tags:
        - Invoice Pull Subscription
      description: Use this route to create new invoice pull subscriptions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayDescription:
                  type: string
                  description: Description to be presented to the payer.
                externalId:
                  type: string
                  description: Safe string that must be unique among all your Invoice PullSubscriptions to prevent duplicates.
                interval:
                  type: string
                  description: 'Cycle definition of the Invoice Pull Requests. Options are "week", "month", "quarter", "semester" and "year".'
                name:
                  type: string
                  description: Name of the debtor.
                pullMode:
                  type: string
                  description: Defines if the invoice pull requests will be made automatically by Stark Bank or manually by the company.
                pullRetryLimit:
                  type: string
                  description: 'Defines how many times the receiver is able to create Invoice Pull Requests for retries. Options are "0" and "3".'
                referenceCode:
                  type: string
                  description: Safe string that must be unique among all your Pix Subscriptions and represent a contract.
                start:
                  type: string
                  description: Expected date to settle the first Invoice Pull Request.
                taxId:
                  type: string
                  description: Tax id of the debtor.
                type:
                  type: string
                  description: 'Subscription journey type. Options: "push", "qrcode", "qrcodeAndPayment" or "paymentAndOrQrCode".'
                amount:
                  type: integer
                  description: Fixed amount to be charged every cycle. Required if the subscription has a fixed amount.
                amountMinLimit:
                  type: string
                  description: Minimum amount limit that the payer can set to be charged every cycle. Required if the subscription has a variable amount.
                data:
                  type: string
                  description: |
                    Additional data required for some types of invoice pull subscription.
                    For the push type, this field sets the payer's account details. For the qrcodeAndPayment or paymentAndOrQrCode types, this field sets the immediate payment parameters. This field is not required for the qrcode type.
[...]
